.eumodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.eumodal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
}

.eumodal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.eumodal-actions button {
  padding: 10px 20px;
}
