.tiles-component {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

.tile {
  background-color: white;
  border: 2px solid;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex: 1 1 calc(16.666% - 20px); /* Ensure tiles are flexible and equally spaced */
  min-width: 200px; /* Ensure a minimum width for responsiveness */
  transition: transform 0.3s, box-shadow 0.3s;
}

.tile:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tile-content {
  display: flex;
  align-items: center;
}

.tile-icon {
  font-size: 2.5em;
  margin-right: 15px;
}

.tile-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.tile-info p {
  margin: 0;
  color: #777;
  font-size: 1em;
}

@media (max-width: 768px) {
  .tile {
    flex: 1 1 100%;
  }
}
