/* Topbar.css */

.topbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 80px;
  width: calc(100% - 80px);
  height: 100px;
  z-index: 999;
}

.topbar.expanded {
  left: 200px;
  width: calc(100% - 200px);
}

.logo-container {
  background-color: #f0f0f0;  /* Adjust to your desired background color */
  padding: 5px;
  border-radius: 5px; /* Optional: adds rounded corners */
}

.logo {
  height: 40px;
}




