.super-admin-dashboard {
    padding: 20px;
  }
  
  .add-user-btn, .add-device-btn {
    padding: 10px 20px;
    margin: 20px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-user-btn:hover, .add-device-btn:hover {
    background-color: #0056b3;
  }
  